/*
    ===================
    = NAVIGATION MENU =
    ===================
*/
//  - add bold and underline on hover
.nav-link {
    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}

/*
    =======================
    = CUSTOM TITLE WIDGET =
    =======================
*/

.title-widget {
    padding: 0px 0px 25px 0px;

    h1 {
        font-size: calc(min(50pt, 15vw));
        text-decoration: underline;
        font-weight: bold;
    }
}